*{
    background-color: rgba(144, 21, 178, 0.864);
}
h3{
    background-color: lightpink;
    text-align: center;
    font-weight: bolder;
    margin-top: 30px;
}
.attr1{
    background-color: rgb(21, 155, 155);
    text-align: center;
    font-weight: bolder;
    margin-top: 30px;
}

.img{
    width: 500px;
    height: 400px;
}

.text-attr{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;
}
div{
    margin: 5px;
    color: white;
    height: 150px;
    width: 150px;
    background-color: rgb(26, 137, 159);
    border-left: 3px solid rgb(61, 97, 193);
}
ol{
    display:inline-block;
}
li{
    background-color: rgb(15, 5, 14);
    color:white;
}
h1,h2,h3{
    display: inline;
}
/* 
selectors{ 
    property: value;
}
*/